body{
    font-family: sans-serif;
    margin:0px;
    padding: 0px;
}
.external{
    background-color: rgb(17, 9, 67);
    width: 100%;;
    height:auto;
    color: white;
    display: flex;
    justify-content: space-between;
}
.il {
    padding: 5px;
    border: 1px solid grey;
    display: flex;
}
.il svg{
    padding: 5px;
}
.il  p{
    margin: 5px;
    height: 4vh;
}

.ir{
display: flex;
padding: 5px;
border:1px solid grey;
}
.ir svg{
    padding: 5px;
}
.ir p{
    margin: 5px;
    height: 4vh;
}
nav{
    display: flex;
    width: 100%;
    position:sticky;
    top: 0;
    background-color: white;
   
    justify-content: space-between;
}
nav ul{
    display:flex;
    
}
nav li{
    margin:10px;
    list-style-type: none;
}
nav button{
    margin: 10px;
    margin-right: 0px;
    background-image:linear-gradient(to right, red,blue);
    color:white;
    height: 30px;
}
nav button:hover{
    margin: 10px;
    margin-right: 0px;
    background-image:linear-gradient(to right, blue,red);
    color:white;
    height: 30px;
}
.section1{
    background-image: url("backgroundimg.jpg");
    background-size: cover;
    color: white;
    font-size:large;
    width: 100%;
    height:400px;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:blue;
    text-decoration: underline;
}
.section1 div{
    width: 50%;
    padding:50px;
}
.section1 button{
    background-color: transparent;
    height: 30px;
    color:white;
    border: 1px solid white;
}
.section1 button:hover{
    background-color: white;
    height: 30px;
    color:black;
    border: 1px solid white;
}
.section2{
    background-image: url("download.png");
    background-repeat: no-repeat;
    width: 100%;
    height:600px;
    display:flex;
    flex-direction: row;
}
.ing{
    width: 50%;
    padding: 45px;
}
.txt{
    background-image: url("download.png");
    background-repeat: no-repeat;
    background-position-x: right;
   width: 50%;
   padding: 45px;
   font-size: larger;
   flex-wrap: wrap;
}
#about{
    width: 60px;
    border-radius: 4px;
    text-align: center;
    color:  red;
    background-color: #f1e9fc;
}
.section3{
    text-align: center;
    width: 100%; 
    
}
.content{
    width: 30%;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: 3px;
    border: 1px solid black;
}
.content:hover{
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}
.content button{
    background-image:linear-gradient(to right, red,blue);
    color:white;
}
.content button:hover{
    background-image:linear-gradient(to right, blue,red);
    color:white;
}
.group{
    display: flex;
    flex-wrap: wrap;
}
.section4{
    display: flex;
}
.section5{
    display: flex;
    border: 3px solid black;
    background-image: linear-gradient(to right,blue,red);
    color: white;
   margin: 50px;
   padding: 50px;
}
.section5 div{
    text-align: center;
    font-size: xx-large;
    padding: 5px;
    margin: auto;
}
.section6{
    display: flex;
}
.section7{
    margin: 50px;
}
.immage{
margin: 10px;
display:flex;
flex-wrap: wrap;
}
.immage img{
    margin: 20px;
    padding: 6px;
}
footer{
    background-color:#211e3b;
    color: white;
    padding: 40px;
    flex-wrap: wrap;
    display: flex;
}
footer div{
    padding: 40px;
    margin: auto;
    width:25%;
}
.terms{
    display: flex;  
    align-items:flex-start;
}
.last{
    text-align: center;
     background-color:#211e3b;
     margin: 0;
     color: white;
     padding:5px;
}